## Backend
PORT=3001
ENCRYPTION_KEY=default_secret_key_32_characters
JWT_SECRET=dev-secret-change-in-production
CORS_ORIGIN=*

## DB Config
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=301178
DB_DATABASE=quero_cafe_bar
DB_SOCKET=/var/run/mysqld/mysqld.sock
