## Backend
PORT=3000
ENCRYPTION_KEY=sua_chave_de_criptografia_aqui
JWT_SECRET=sua_chave_jwt_aqui

## DB Config
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=sua_senha_aqui
DB_DATABASE=quero_cafe_bar
